<div class="page-header"><h4><strong>
  <%=gist[:owner][:login]%> /
  <% gist[:files].each { |k,v|%>
      <%= v[:filename]%>
  <%}%>
  <%= link_to gist_path(gist[:id]) do%>
      <button class="btn btn-primary">View</button>
  <%end%>
</strong>
</h4>
</div>