<div class="page-header"><h4><strong>
  <%=gist[:owner][:login] unless gist[:owner].nil?%>
  <%= '<Anonymous>' if gist[:owner].nil?%>/
  <% gist[:files].each { |k,v|%>
      <%= v[:filename]%>
  <%}%>
  <%= link_to gist_path(gist[:id]) do%>
      <button class="btn btn-primary">View</button>
  <%end%>
</strong>
</h4>
</div>