<p id="notice"><%= notice %></p>

<h1>Listing Gists</h1>
<code data-gist-id="5457652" data-gist-line="2-4"></code>
<!--< @gists.each do |gist| %>

      <!--<td><= link_to 'Edit', edit_gist_path(gist) %></td>-->
<!--<td><= link_to 'Destroy', gist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
< end %>-->
<br>

<!--<= link_to 'New Gist', new_gist_path %>-->
