<p id="notice"><%= notice %></p>
<div class="row">
  <%=render partial: 'gists/gist_header', locals: {gist: @gist}%>
</div>
<div id="desc" class="row">
  <%= @gist[:description]%>
</div>
<div class="row">
  <code data-gist-id="<%=@gist[:id]%>"></code>
</div>
